---
import { data } from './data';

const { title, input, otherInfo } = data;
---

<div class="event">
	{title && <h2 class="event__title">{title}</h2>}
	{
		input && (
			<>
				<div class="event__input">
					<input class="event__input-el" type={input.type} id={input.name} name={input.name} placeholder={input.placeholder} />
				</div>
				<div class="event__list">
					<div class="event__list-loading">
						<span>Загрузка ...</span>
					</div>
					<div class="event__list-empty hide">
						<span>Пусто</span>
					</div>
					<ul class="event__list-scroll">
						<li />
					</ul>
				</div>
			</>
		)
	}
	{
		otherInfo && (
			<div class="event__wrap">
				{otherInfo.date && (
					<div class="event__date">
						{otherInfo.date.items.map(({ id, placeholder }) => (
							<div class="event__date-el">
								<input class="event__date-input" type={otherInfo.date.type} id={id} name={id} placeholder={placeholder} />
							</div>
						))}
					</div>
				)}
				{otherInfo.time && (
					<div class="event__time">
						<div class="event__time-el">
							{otherInfo.time.items.map(({ id, placeholder }) => (
								<>
									<div class={`event__time-input event__time-input--${id}`}>
										<input type={otherInfo.time.type} id={id} name={id} placeholder={placeholder} />
									</div>
									{id === 'minutes' && <span>&nbsp;:&nbsp;</span>}
								</>
							))}
						</div>
						<div class="event__time-action">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M11 0.25C7.28446 0.25 4.5928 1.71662 2.83476 3.54227C1.10654 5.33695 0.25 7.51504 0.25 9C0.25 10.485 1.10654 12.663 2.83476 14.4577C4.5928 16.2834 7.28446 17.75 11 17.75C14.7155 17.75 17.4072 16.2834 19.1652 14.4577C20.8935 12.663 21.75 10.485 21.75 9C21.75 7.51504 20.8935 5.33695 19.1652 3.54227C17.4072 1.71662 14.7155 0.25 11 0.25ZM10.9999 6.75C9.75727 6.75 8.74991 7.75736 8.74991 9C8.74991 10.2426 9.75727 11.25 10.9999 11.25C12.2425 11.25 13.2499 10.2426 13.2499 9C13.2499 7.75736 12.2425 6.75 10.9999 6.75ZM7.24991 9C7.24991 6.92893 8.92884 5.25 10.9999 5.25C13.071 5.25 14.7499 6.92893 14.7499 9C14.7499 11.0711 13.071 12.75 10.9999 12.75C8.92884 12.75 7.24991 11.0711 7.24991 9Z"
									fill="#EB503E"
								/>
							</svg>
						</div>
					</div>
				)}
			</div>
		)
	}
</div>
<style lang="scss">
	@import '../styles/settings';

	.event {
		position: relative;
		width: 100%;

		@include des {
			margin-bottom: d(40);
		}

		@include mob {
		}

		&__title {
			color: #241f1f;
			font-weight: 500;
			line-height: 130%;

			@include des {
				font-size: d(18);
				letter-spacing: d(-0.54);
				margin-bottom: d(12);
			}

			@include mob {
				font-size: m(15);
				letter-spacing: m(-0.45);
				margin-bottom: m(15);
			}
		}

		&__input {
			width: 100%;
			border-style: solid;
			border-color: #e7e4e4;
			overflow: hidden;
			transition: border-color 0.3s ease 0s;

			@include des {
				border-width: d(1);
				height: d(62);
				border-radius: d(18);
				margin-bottom: d(12);
			}

			@include mob {
			}

			&:is(:hover) {
				border-color: #eb503e;
				cursor: pointer;
			}

			&.show {
				border-color: #eb503e;
			}

			&-el {
				width: 100%;
				height: 100%;
				border-radius: inherit;

				color: #6b6663;
				font-weight: 500;
				font-family: inherit;

				@include des {
					padding: 0 d(22);
					font-size: d(14);
				}

				@include mob {
				}
			}
		}

		&__wrap {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__date {
			display: flex;

			@include des {
				grid-gap: d(10);
			}

			@include mob {
			}

			&-el {
				border-style: solid;
				border-color: #e7e4e4;
				overflow: hidden;

				@include des {
					width: d(74);
					height: d(62);
					border-width: d(1);
					border-radius: d(18);
				}

				@include mob {
				}
			}

			&-input {
				width: 100%;
				height: 100%;
				border-radius: inherit;
				text-transform: uppercase;
				text-align: center;

				color: #6b6663;
				font-weight: 500;
				font-family: inherit;

				@include des {
					padding: 0 d(10);
					font-size: d(14);
				}

				@include mob {
				}
			}
		}

		&__time {
			display: flex;

			@include des {
				grid-gap: d(10);
			}

			@include mob {
			}

			&-el {
				border-style: solid;
				border-color: #e7e4e4;
				overflow: hidden;
				display: grid;
				grid-template-columns: 1fr auto 1fr;
				align-items: center;

				@include des {
					width: d(100);
					height: d(62);
					border-width: d(1);
					border-radius: d(18);
				}

				@include mob {
				}

				& span {
					color: #6b6663;
					font-weight: 500;
					font-family: inherit;
					text-transform: uppercase;

					@include des {
						font-size: d(14);
					}

					@include mob {
					}
				}
			}

			&-input {
				width: 100%;
				height: 100%;

				& input {
					width: 100%;
					height: 100%;
					border-radius: inherit;
					text-transform: uppercase;

					color: #6b6663;
					font-weight: 500;
					font-family: inherit;

					@include des {
						font-size: d(14);
					}

					@include mob {
					}
				}

				&--minutes input {
					text-align: right;

					@include des {
						padding-left: d(10);
					}

					@include mob {
					}
				}

				&--seconds input {
					text-align: left;

					@include des {
						padding-right: d(10);
					}

					@include mob {
					}
				}

				// width: 100%;
				// height: 100%;
				// border-radius: inherit;
				// text-transform: uppercase;
				// text-align: center;

				// color: #6b6663;
				// font-weight: 500;
				// font-family: inherit;

				// @include des {
				//   padding: 0 d(10);
				//   font-size: d(14);
				// }

				// @include mob {
				// }
			}

			&-action {
				border-style: solid;
				border-color: #fce6e4;
				background-color: #fce6e4;
				overflow: hidden;

				display: flex;
				align-items: center;
				justify-content: center;

				@include des {
					width: d(68);
					height: d(62);
					border-width: d(1);
					border-radius: d(18);
				}

				@include mob {
				}

				& svg {
					width: d(22);
					height: d(18);
				}
			}
		}

		&__list {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 99;
			border-color: #eb503e;
			border-style: solid;
			background-color: #fff;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;

			@include easy(all);

			&.show {
				opacity: 1;
				visibility: visible;
			}

			@include des {
				box-shadow: 0 0 d(20) 0 #fff;
				border-width: d(1);
				border-radius: d(18);
				height: d(279);
				transform: translateY(38%);
			}

			@include mob {
				box-shadow: 0 0 m(20) 0 #fff;
				border-width: m(1);
				border-radius: m(12);
				height: m(300);
			}

			&-scroll {
				position: relative;
				z-index: 90;
				height: inherit;
				overflow-y: auto;

				@include des {
					width: calc(100% + d(40));
					padding: d(11) d(62) d(11) d(22);
				}

				@include mob {
					width: calc(100% + m(40));
					padding: m(6) m(52) m(6) m(12);
				}

				& li {
					width: 100%;
					display: flex;
					flex-direction: column;

					color: #6b6663;
					font-style: normal;
					font-weight: 500;
					line-height: 130%;

					@include easy(color);

					&:is(:hover) {
						color: #241f1f;
						cursor: pointer;
					}

					@include des {
						font-size: d(14);
						padding: d(11) 0;
					}

					@include mob {
						font-size: m(12);
						padding: m(6) 0;
					}
				}
			}

			&-loading,
			&-empty {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				color: #eb503e;
				font-style: normal;
				font-weight: 500;
				line-height: 130%;
				pointer-events: none;
				z-index: 99;
				background-color: #fff;

				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				@include easy(all);

				&.hide {
					opacity: 0;
					visibility: hidden;
				}

				@include des {
					font-size: d(18);
				}

				@include mob {
					font-size: m(14);
				}
			}
		}
	}
</style>
